/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#title {
  color: #fff;
  background-color: #343b3f;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
  width: 100%;
  }

#locationField,
#controls {
  width: 600px;
}

#autocomplete {
  margin: 5px;
  width: 100%;
}

.label {
  text-align: right;
  color: lightslategray;
  width: 100px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#acHeader {
  margin: 5px;
  font-size: 1em;
  color: #ECA400;
}

#address {
  border: 1px solid;
  border-color: #ECA400;
  border-radius: 10px;
  background-color: #fff;
  width: 600px;
  padding: 5px;
  margin: 5px;
}

#address td {
  font-size: 10pt;
}

.field {
  width: 99%;
}

.slimField {
  width: 80px;
}

.wideField {
  width: 200px;
}

.evenField {
  width: 100px;
}

#locationField {
  margin-bottom: 2px;
}

#name, #phoneNumber {
  margin: 0 5px;
  width: 600px;
}

label {
  margin: 5px 5px 0 5px;
}

#submitBtn {
  margin: 5px;
}
