/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#title {
  color: #fff;
  background-color: #343b3f;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
  width: 100%;
  }

#locationField,
#controls {
  width: 600px;
}

#autocomplete {
  margin: 5px;
  width: 100%;
}

.label {
  text-align: right;
  font-weight: bold;
  width: 100px;
  color: #303030;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#acHeader {
  margin: 5px;
  font-size: 20px;
}

#address {
  border: 2px solid #303030;
  background-color: #f0f9ff;
  width: 80%;
  padding: 2px;
  margin: 5px;
}

#address td {
  font-size: 10pt;
}

.field {
  width: 99%;
}

.slimField {
  width: 80px;
}

.wideField {
  width: 200px;
}

.evenField {
  width: 100px;
}

#locationField {
  margin-bottom: 2px;
}

#name, #phoneNumber {
  margin: 0 5px;
  width: 600px;
}

label {
  margin: 5px 5px 0 5px;
}

#submitBtn {
  margin: 5px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  padding: 10px;
  background-color: #343b3f;
  color: white;
  text-align: center;
}

#copyright {
  font-size: 0.75em;
  margin: 0;
  padding-bottom: 2px;
}
