body {
    background-color: slategray;
    /* color: paleturquoise */
}

#container {
    padding: 10vh 20vh 5vh 20vh;
    background-image: linear-gradient(to bottom right, violet, paleturquoise);
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    /* height: auto; */
    margin-top: 5vh;
    margin-bottom: 5vh;    
}

#top {
    background-color: purple;
    height: 5vh;
}

#middle {
    background-color: silver;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer {
    height:10vh;
    padding: 10px;
    background-color: #343b3f;
    color: white;
    text-align: center;
  }

#mid_left {
    /* width: 50%; */
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

#mid_right {
    /* width: 25%; */
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}

.ppLogo{
    width: 100%;
    max-width: 600px;
    height: auto;
    min-width: 10px;
}

.login_button {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom:1vh;
}

#gh_button, #twit_button, #fb_button, #goog_button {
    text-align: center;
    vertical-align: middle;
}